/* General Styles for App Component */

.App {
  text-align: center;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);

  padding: 20px;

  text-align: center;
}

.feature-art {
  width: 100%;

  max-width: 600px;

  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Carousel Styles */
.carousel {
  max-height: 80vh;
}

.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  top: 50%;

  transform: translateY(-50%);

  width: 5%;

  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
/* Carousel Container */

.carousel-container {
  width: 100%;
  position: relative;

  box-sizing: border-box; /* Ensure padding is included in the width */

  overflow: hidden; /* Prevent content from overflowing */
}

.carousel .slide img {
  width: 100%; /* Full width */

  height: auto;
}

.carousel .slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel .slide.selected {
  opacity: 1;
}

.carousel .legend:hover {
  background: rgba(128, 203, 196, 0.5); /* Softer color when hovered */
}

/* Action Buttons */

.action-buttons {
  display: flex;

  gap: 20px;

  position: absolute;

  top: 10px; /* Position at the top of the carousel */

  left: 50%;

  transform: translateX(-50%);

  z-index: 1; /* Ensure buttons are above the carousel */
}

.action-button {
  background-color: rgba(234, 219, 153, 0.8); /* Semi-transparent background */

  color: #004d40; /* Darker forest green */

  padding: 10px 20px; /* Medium size */

  border-radius: 5px;

  text-decoration: none;

  font-size: 16px; /* Slightly larger font */

  font-weight: bold; /* Bold text */

  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: rgba(0, 77, 64, 0.8); /* Darker forest green */

  color: #80cbc4; /* Winter accent color */
}

.carousel .control-prev.control-arrow {
  left: 0;
}

.carousel .control-next.control-arrow {
  right: 0;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);

  color: #ffffff;

  padding: 10px;

  font-size: 1.2em;

  position: absolute;

  bottom: 20px; /* Adjusted to be above the carousel image indicator */

  width: 80%; /* Match the width of the carousel image */

  left: 10%; /* Center the legend */

  text-align: center;
}

.carousel .slide .legend {
  width: 60% !important;
  margin-left: -30%;
  background: #002e15b7;
}

.carousel .legend:hover {
  background: rgba(70, 119, 71, 0.5); /* Softer color when hovered */
}

/* Additional Custom Styles */

.main-content {
  padding: 20px;

  background-color: #3e4e3e; /* Dark forest green */

  margin: 20px 0;

  border-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
  font-size: 28px;

  margin: 0 0 10px;

  color: #ffffff;
}

.main-content .price {
  font-size: 24px;

  color: #e67e22;

  margin: 10px 0;
}

.main-content .features {
  display: flex;

  gap: 20px;

  margin: 20px 0;
}

.main-content .features div {
  flex: 1;

  color: #ffffff;
}

.main-content .description {
  font-size: 16px;

  line-height: 1.5;

  color: #ffffff;

  margin-bottom: 20px; /* Add space below the description */
}

.action-buttons {
  margin-top: 20px; /* Ensure space between description and buttons */
}
